<div id="content">
  <div class="container">
    <%= form_for @item, {:html => {:multipart => true}, :url => '/show'} do |f| %>
      <div class="header field">
        <h1>Challenge - Form</h1>
      </div>
      <div class="field">
        <% unless @item.errors[:title].blank? %>
          <ul class="errorlist">
            <li>File must have a title</li>
          </ul>
        <% end %>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <% unless @item.errors[:path].blank? %>
          <ul class="errorlist">
            <li>Upload file first.</li>
          </ul>
        <% end %>
        <%= f.label :file %>
        <%= f.file_field :file %>
      </div>
      <div class="field">
        <%= f.label :status %>
        <span id="status">
          <% if @item.path.blank? %>
            select file
          <% else %>
            <%= @item.path %>
          <% end %>
        </span>
      </div>
      <div class="field">
        <%= f.submit "Submit", :class => "green_button" %>
        <%= f.hidden_field :path %>
      </div>
    <% end %>

    <script type="text/javascript">
      $(function() {
        $("#item_file").html5_upload({
          fieldName: 'item[file]',
          url: '/upload',
          sendBoundary: window.FormData || $.browser.mozilla,
          onProgress: function(name, progress) {
            $("#status").text(Math.ceil(progress * 100) + '%');
          },
          onFinishOne: function(event, response, name, number, total) {
            responseObject = jQuery.parseJSON(response);
            console.log(response);
            if (jQuery.isEmptyObject(responseObject)) {
              $('#status').text('upload error, try again');
              $('#item_path').val('');
            } else {
              if (responseObject.error_msg) {
                $('#status').text(responseObject.error_msg)
              } else {
                $('#status').text(responseObject.path);
                $('#item_path').val(responseObject.path);
                if ($.trim($('#item_title').val()) !== "") {
                  $('#new_item').submit();
                }
              }
            }
          },
          onError: function(event, name, error) {
            $('#status').text(error);
          }
        });
      });
    </script>
  </div>
</div>