<h1>Challange</h1>
<%= form_for @file_resource, {:html => {:multipart => true}, :remote => true, :url => root_url} do |f| %>
  <div class="field">
    <%= f.label :title %>:
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :file %>:
    <%= f.file_field :file %>
  </div>
  <div class="paragraph">
    <%= f.label :status %>: <span id="status">select file</span>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $("#upload_field").html5_upload({
      url: function(number) {
        return prompt(number + " url", "/");
      },
      sendBoundary: window.FormData || $.browser.mozilla,
      onStart: function(event, total) {
        return confirm("You are trying to upload " + total + " files. Are you sure?");
      },
      setName: function(text) {
        $("#progress_report_name").text(text);
      },
      setStatus: function(text) {
        $("#progress_report_status").text(text);
      },
      setProgress: function(val) {
        $("#progress_report_bar").css('width', Math.ceil(val * 100) + "%");
      },
      onFinishOne: function(event, response, name, number, total) {
//alert(response);
      }
    });
  });
</script>